.chip-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(var(--blue), 0.1);
  border-radius: 10rem; /* Pill shape */
  padding: 0.5rem;
  width: 50%;
  border: 1px solid rgba(var(--blue), 1);
  justify-content: center;
}

.chip-option {
  padding: 0.75rem 1rem;
  border-radius: 10rem;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  color: rgba(var(--blue), 1)
}

.chip-option.active {
  color: rgba(var(--white), 1);
  background-color: rgba(var(--blue), 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: bold;
}